{% extends "blog/layout.html"%} <!--꼭 이렇게 풀로 적어주세요 -->

{% block content %}
<div class="container" style="margin-bottom:150px">
  <div class="row">
    <div class="col-md-12">
      <form action="" method="post" enctype= "multipart/form-data">
        {% csrf_token %}
        <table class="table table-hover table-bordered">
          {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-primary"></input>
        <a class="btn btn-primary" href="/food/">되돌아가기</a>
      </form>
    </div>
  </div>
</div>
{% endblock%}
