{% extends "blog/layout.html"%}

{% block title%}
  {{ post.title }}
{% endblock%}


{% block content %}
<!-- 여기에 블록을 주세요 -->

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <h1 class="page-header">{{post.title}}</h1>


<div  style="margin-left:80px;margin-right:80px">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>{{post.title}} at {{post.create_at}}</div>
    <div class="panel-body">
      <p><img src="/media/{{post.photo}}/" alt="" width=50%;></p>
      <p>{{post.content|linebreaks}}</p>
    </div>
  </div>


      <a href="{% url "blog:post_list" %}" ><h6 class="btn btn-primary">메인으로</h6></a>
      <a href="{% url "blog:post_edit" post.id %}" ><h6 class="btn btn-default pull-right">글 수정하기</h6></a>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>작성자</th>
            <th>답변</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in post.comment_set.all %}
            <tr>
              <td>{{comment.id}}</td>
              <td>{{comment.author}}</td>
              <td>{{ comment.message }}</td>
              <td><small>at {{comment.update_at}}</small></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>asdkjaslkdjadjal

<!-- 여기에 블록을 주세요 -->
{% endblock %}
