<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}건일이의 블로그{%endblock%}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
      .container.marketing .row .col-lg-4{
            margin-top:80px;
      }
      .container.marketing .row .col-lg-4 #cont{
            background-color: #cccccc;
      }
    </style>

  </head>
  <body>
    <!-- start 네비게이션 -->
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/blog">Geonil's Blog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#Home" onclick="checkClick(1)">Home</a></li>
                <li><a href="#About" onclick="checkClick(2)">About</a></li>
                <li class="dropdown">
                  <a href="#" onclick="checkClick('drop')" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li><a href="#Contact" onclick="checkClick(4)">Contact</a></li>
                <li><a href="#Contact" onclick="checkClick(5)">Contact</a></li>
                <li><a href="#Contact" onclick="checkClick(6)">Contact</a></li>
                <li><a href="#Contact" onclick="checkClick(7)">Contact</a></li>
                <li><a href="#Contact" onclick="checkClick(8)">Contact</a></li>
                <li><a href="#Contact" onclick="checkClick(9)">Contact</a></li>
                <li><a href="#Contact" onclick="checkClick(10)">Cont</a></li>
                <li><a href="#Contact" onclick="checkClick(11)">Cont</a></li>
                <li><a href="#Contact" onclick="checkClick(12)">Cont</a></li>
                <li><a href="/accounts/profile" onclick="checkClick(13)">프로필 가기</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- end 네비게이션 -->



<!-- 여기에 블록을 주세요 -->

{% block content %}
{% endblock %}


<!-- 여기에 블록을 주세요 -->


      <!-- start FOOTER -->
      <footer>
        <hr>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 GEONIL. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
      <!-- end FOOTER -->
    </div>
    <!-- end 컨텐츠 -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script>
      function checkClick(index)
      {
          let arr = [0,"","","","","","","","","","","","",""]
          if(index == 'drop')
            arr = [0,"","","","","","","","","","","","",""]
          if(index)arr[index] = 'active'
            $('#navbar ul:first-child li:nth-child(1)').attr("class",arr[1])
            $('#navbar ul:first-child li:nth-child(2)').attr("class",arr[2])
            $('#navbar ul:first-child li:nth-child(3)').attr("class",arr[3])
            $('#navbar ul:first-child li:nth-child(4)').attr("class",arr[4])
            $('#navbar ul:first-child li:nth-child(5)').attr("class",arr[5])
            $('#navbar ul:first-child li:nth-child(6)').attr("class",arr[6])
            $('#navbar ul:first-child li:nth-child(7)').attr("class",arr[7])
            $('#navbar ul:first-child li:nth-child(8)').attr("class",arr[8])
            $('#navbar ul:first-child li:nth-child(9)').attr("class",arr[9])
            $('#navbar ul:first-child li:nth-child(10)').attr("class",arr[10])
            $('#navbar ul:first-child li:nth-child(11)').attr("class",arr[11])
            $('#navbar ul:first-child li:nth-child(12)').attr("class",arr[12])
            $('#navbar ul:first-child li:nth-child(13)').attr("class",arr[13])

      }



    </script>
  </body>
</html>
